<table>
    <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Categoria</td>
        <td>Endereço</td>
        <td>Celular</td>
        <td>Email</td>
        <td>Senha</td>
        <td>Data-Nascimento</td>
        <td>RG</td>
        <td>CPF</td>
        <td>Ações</td>
    </tr>

    {{#data}}
        <tr>
            <td>{{vendedor_id}}</td>
            <td>{{nome_vendedor}}</td>
            <td>{{categoria_vendedor}}</td>
            <td>{{endereco_vendedor}}</td>
            <td>{{cel_vendedor}}</td>
            <td>{{email_vendedor}}</td>
            <td>{{senha_vendedor}}</td>
            <td>{{datanasc_vendedor}}</td>
            <td>{{rg_vendedor}}</td>
            <td>{{cpf_vendedor}}</td>
            <td>
                <a href='update/{{vendedor_id}}' class='update'><img src="/img/icons8-edit-16.png"></a>
                <a href='deletar/{{vendedor_id}}' class="deletar"><img src='/img/icons8-delete-16.png'></a>
            </td>
        </tr>
    {{/data}}
</table>